cuerpo {
    margen :  0 ;
    familia de fuentes : Arial , Helvetica , sans-serif;
  }
  
  . topnav {
    desbordamiento : oculto;
    color de fondo :  # 333 ;
  }
  
  . topnav  a {
    flotar : izquierda;
    color :  # f2f2f2 ;
    alineación de texto : centro;
    relleno :  14 px  16 px ;
    decoración de texto : ninguna;
    tamaño de fuente :  17 px ;
  }
  
  . topnav  a : hover {
    color de fondo :  # ddd ;
    color : negro;
  }
  
  . topnav  a . activo {
    color de fondo :  # 008cff ;
    color : blanco;
  }

  . botón {
    pantalla : bloque en línea;
    radio del borde :  4 px ;
    color de fondo :  # 12b141 ;
    borde : ninguno;
    color :  # FFFFFF ;
    alineación de texto : centro;
    tamaño de fuente :  13 px ;
    relleno :  20 px ;
  / * ancho: 11%; * /
    transición : todos los 0,5 s ;
    cursor : puntero;
    margen :  5 px ;
}
  
  . intervalo de botones  {
    cursor : puntero;
    pantalla : bloque en línea;
    posición : relativa;
    transición :  0,5 s ;
  }
  
  . intervalo de botones  : después de {
    contenido :  '\ 00bb' ;
    posición : absoluta;
    opacidad :  0 ;
    arriba :  0 ;
    derecha :  -20 px ;
    transición :  0,5 s ;
  }
  
  . button : hover  span {
    padding-right :  25 px ;
    
  }
  
  . button : hover  span : after {
    opacidad :  1 ;
    derecha :  0 ;
  }

. contenido {
  color de fondo :  # e7e7e7 ;
  borde :  1 px sólido # 333 ;
  ancho :  100 % ;
}

. contenido-b {
/ * color de fondo: # ff8181;
  borde: 1px sólido # 333; * /
  ancho :  50 % ;
  margen superior :  5 px ;

}


# id01 {
  color de fondo :  rgba ( 0 ,  0 ,  0 ,  0.342 );
  ancho :  100 % ;
  altura :  100 % ;
}

. modal {
  color de fondo :  rgb ( 0  0  0  /  79 % );
  pantalla : ninguna;
  posición : fija;
  índice z :  1 ;
  izquierda :  0 ;
  arriba :  0 ;
  ancho :  100 % ;
  altura :  100 % ;
  desbordamiento : automático;
  padding-top :  60 px ;
}

. modal-content {
  color de fondo :  # fefefeb8 ;
  margen :  5 % automático 15 % automático;
  borde :  1 px sólido # 888 ;
  ancho :  80 % ;

/ * imagen de fondo: url (../ img / cyber-4610993_1920.jpg)! importante; * /
  tamaño de fondo :  100 %  100 % ;
  repetición de fondo : no repetición;
}
. modal-content2 {
  color de fondo :  # fefefeb8 ;
  margen :  5 % automático 15 % automático;
  borde :  1 px sólido # 888 ;
  ancho :  80 % ;
  altura :  577 px ;
/ * imagen de fondo: url (../ img / abstract-3291293_1280.jpg)! importante; * /
  tamaño de fondo :  100 %  100 % ;
  repetición de fondo : no repetición;
}
. cerrar {
  posición : absoluta;
  derecha :  25 px ;
  superior :  40 px ;
  color :  rgb ( 255  0  0 );
  tamaño de fuente :  35 px ;
  font-weight : negrita;
}
. Cerrar : libración , . close : focus {
  color : rojo;
  cursor : puntero;
}

. imgcontainer {
  alineación de texto : centro;
  margen :  24 px  0  12 px  0 ;
  posición : relativa;
}
